#navigation .nice-menu-down{
  border: none;
  text-align:center;
  float: none;
  a{
    @extend a;
    //font-size:1.05em;
  }
  li{
    background-color: white;
    text-align: left;
    float:none;
    display:inline-block;
  }
  &>li{
    border: none;
    margin-right: 1.5em;
    &>a{
      text-transform: uppercase;
    }
  }
}