$sidebar-separation-color: scale-saturation(scale-lightness($body-background-color, -15), -20);

.region-sidebar-first{
  border-right:1px solid $sidebar-separation-color;
}
.region-sidebar-second{
  border-left:1px solid $sidebar-separation-color;
}

.sidebar{
  h2.node-title {
    line-height: 1.4em;
    font-size: 1.1em;
  }
  p, pre {
    margin: rhythm(0.5) 0;
  }
}