.view-images-on-homepage{
  margin: .2em;
  padding: .3em;
  background: #eee;
  @include border-radius(.4em);
  
  .views-field-field-image {
    float: left;
    margin-right: 1em;
  }
  .views-field-title .field-content {
    margin: 0;
    padding-top: .5em;
  }
  
  .views-slideshow-cycle-main-frame, .views-slideshow-cycle-main-frame-row{
    width: 100% !important;
  }
  
  .views-slideshow-pager-field-item {
    display: inline-block;
    cursor: pointer;
  }
}