.views-row {
  margin-bottom: 1em;
  &.white-background{
    background:white;
    padding: 5px;
    @include border-radius(3px);
    border: 1px solid #ddd;
  }
}
.views-row.views-row-last {
  margin-bottom: 0;
}

.separated{
  &.views-row {
    padding-bottom: 1em;
    border-bottom: 1px solid #085C1C;
  }
  &.views-row.views-row-last {
    border-bottom: none;
  }
}

.views-field-field-banner-image .field-content{
  line-height:0; //this was adding a little extra padding under the image...
}

.views-field-field-free-tags{
  font-size: 1.5ex;
}

.views-view-grid{
  text-align: center;
  td{
    vertical-align: top;
    padding: 1em 1ex;
    /*border: 1px dashed #DDD;*/
  }
}

.vertical-center{
  vertical-align: center;
}

.callout-view{
  border:1px solid darken($body-background-color, 15%);
  background: lighten($body-background-color, 2%);  
}

.stripe-view{

  h3{
    text-transform: uppercase;
  }
}

//theme unformatted lists
/*$unformatted-list-border-color: darken($body-background-color, 20%);
%unformatted-borders{
  padding: 1ex;
  margin-bottom: 0;
  border-left: 1px solid $unformatted-list-border-color;
  border-right: 1px solid $unformatted-list-border-color;
  &.views-row-first{
    border-top: 1px solid $unformatted-list-border-color;
  }
  &.views-row-last{
    border-bottom: 1px solid $unformatted-list-border-color;
  }
}
div.views-row-odd {
  background: lighten($body-background-color, 1.5%);
  @extend %unformatted-borders;
}
div.views-row-even {
  background: darken($body-background-color, 3%);
  @extend %unformatted-borders;  
}*/

//theme grids
.cols-2 td{
  width:50%;
}
.cols-3 td{
  width:33.3333%;
}
.cols-4 td{
  width:25%;
}
.cols-5 td{
  width:20%;
}
.cols-6 td{
  width:1.6667%;
}

.more-link{
  margin: 1ex;
}